<!DOCTYPE html>

<html>

  <head>
    <meta charset="utf-8"> 
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Nadeshiko online class</title>
    <meta name="description" content="Review your japanese vocabulary">
  </head>
  
  <body>
  <h1>Katakanas</h1>
  <ul>
  {% for katakana in katakanas %}
    <li>{{ katakana.char_jp }} is {{ katakana.char_fr }} @ level {{ katakana.level }}</li>
  {% endfor %}	
  </ul>
  </body>

</html>