{% extends 'nadeshiko/base.html' %}
{% load staticfiles %}

{% block content %}
    <section class="bg-primary" id="about">
      <div class="container-fluid p-0">
        <div class="h-25 row" style="background-image: url('{% static 'nadeshiko/img/login.jpg' %}'); background-repeat: no-repeat; background-size: 100%; filter: brightness(75%)">
          <div class="container h100">
            <div class="row h-100 justify-content-center align-items-center">
              <h1 style="color: #FFFFFF">Ahoy <BR> {{ user.first_name }} {{ user.last_name }} </h1>
            </div>
          </div>  
        </div>
        <div class="h-25 row">
          <div class="container h100">
            <div class="row h-100 justify-content-center align-items-center">
              <div class="col-md-6 justify-content-center align-items-center">
                <ul>
                  <li>Mon email: {{ user.email }}</li>
                </ul>  
              </div>  
            </div>
          </div>  
        </div>
      </div>
    </section>
{% endblock %}