{% extends 'nadeshiko/base.html' %}
{% load staticfiles %}

{% block content %}
    <section class="bg-primary" id="about">
      <div class="container-fluid p-0">
        <div class="row">
          <div class="col-lg-8 mx-auto text-center">
            <h2 class="section-heading">Quizz time</h2>
            <hr class="light my-4">
      {% if user.is_authenticated %}
            <h5 class="text-faded mb-4">Configurez votre quizz ou commencez directement !</h5>
          </div>
        </div>
        <div id="main" class="row">
          <div id="info" class="col-md-3 mx-auto text-center">
            <h4>Bienvenue {{ quizz.user.username }}</h4>
            <h6>Vous êtes au niveau {{ quizz.level }}</h6>
            <h6>Vos scores</h6>
            {% for level, score in quizz.scoreSheet.items %}
              {% if score  > 20 %}
                <h6>niveau {{level}}: moyenne {{score}}</h6>
              {% elif 20 >= score > 0 and score != 0 %}  
                <h6>niveau {{level}}: débutant </h6>
              {% endif %}
            {% endfor %}
          </div> 
          <div id="configuration" class="col-md-9 mx-auto text-center">
            <h5>Configuration du quizz</h5>
            <p></p>
            <form id="theForm" action="/nadeshiko/quizz/" method="post">
              <h6>Difficulté: &emsp;
                {% csrf_token %}
                {% for choice in form.Difficulté %}
                {{ choice.choice_label }} {{ choice.tag }}&emsp;
                {% endfor %}
                <input type="submit" name="submit" value="Send" id="submit">
              </h6>
            </form>
            <p></p>
            {% if quizz.index != 1 %}
            <h4>Vous avez déjà un quizz en cours, <a href="{% url 'nadeshiko:quizzesUser' user_id=user.id %}">finissez-le</a></h4>
            {% endif %}
            <h5>Révisions</h5>
            <a href="{% url 'nadeshiko:hiraganas' %}">Hiraganas</a>
            <a href="{% url 'nadeshiko:katakanas' %}">Katakanas</a>
          </div>
        </div>
      </div>
      {% else %}
            <h5 class="text-faded mb-4">Désolé vous n'êtes pas authentifié !</h5>
            <p><a href="{% url 'nadeshiko:index' %}">Return to home</a></p>
          </div>
        </div>
      {% endif %}
    </section>

{% endblock %}

