{% extends 'nadeshiko/base.html' %}
{% load staticfiles %}

{% block content %}
    <section class="bg-primary" id="about">
      <div class="container-fluid p-0">
        <div class="row">
          <div class="col-lg-8 mx-auto text-center">
            <h2 class="section-heading">Quizz time</h2>
            <hr class="light my-4">
            <p class="text-faded mb-4">Configurez votre quizz ou commencez directement !</p>
          </div>
        </div>
        <div id="main" class="row">
          <div id="info" class="col-md-3 mx-auto text-center">
            <h4>Bienvenue {{ quizz.user.username }}</h4>
            <p>Vous êtes au niveau {{ quizz.level }}</p>
            <p>Ci-après vos précédents scores</p>
            {% for level, score in quizz.scoreSheet.items %}
              {% if score  > 20 %}
                <p>niveau {{level}}: moyenne {{score}}</p>
              {% elif 20 >= score > 0 and score != 0 %}  
                <p>niveau {{level}}: débutant </p>
              {% endif %}
            {% endfor %}
          </div> 
          <div id="configuration" class="col-md-9 mx-auto text-center">
            <h4>Configuration du quizz</h4>
            <p>Difficulté du quizz: {{ quizz.size }} questions</p>
            <form id="theForm" action="/nadeshiko/quizz/" method="post">
              {% csrf_token %}
              {{ form.as_p }}
              <input type="reset" name="reset" value="Reset" id="reset">
              <input type="submit" name="submit" value="Send" id="submit">
            </form>
            <h4>Révisions</h4>
            <a href="{% url 'nadeshiko:hiraganas' %}">Hiraganas</a>
            <a href="{% url 'nadeshiko:katakanas' %}">Katakanas</a>
          </div>
        </div>
      </div>
    </section>

{% endblock %}

