{% extends 'nadeshiko/base.html' %}

{% load static %}

{% block content %}
    <section>
      <div class="container my-auto">
          <div class="mx-auto">
            <h1 class="text-uppercase">
              <strong>Admin side - upload de données</strong>
            </h1>
            <hr>
          </div>
          <div class="row form-group">
            <form method="post" enctype="multipart/form-data">
              {% csrf_token %}
              {{ form.as_p }}
              <button type="submit">Upload</button>
            </form>
          </div>
          {% if wordList %}
          <div class="row">
              <p>The file was uploaded </a></p>
          </div>
          <div class="row form-group">
            <div class="col-lg-6 ml-auto text-center">
              <img id="scan" src="/nadeshiko{{ scan.image.url }}" alt="uploaded scan"/>
            </div>
            <div class="col-lg-6 ml-auto text-center">  
                <form id="formFromScan" class="mx-auto" action="/nadeshiko/loading/">
                  {% csrf_token %}
                  {{ formToEdit.as_p }}
                </form>
            </div>
          </div>
          {% endif %}
          <p><a href="{% url 'nadeshiko:index' %}">Return to home</a></p>
      </div>
    </section>

{% endblock %}
