{% extends 'nadeshiko/base.html' %}

{% load static %}

{% block content %}
    <section>
      <div id="loading">
        <div><i class="fa fa-spinner fa-spin"></i> Votre scan est en cours de chargement</div>
      </div>
      <div id="upload_scan" class="container-fluid my-auto">
          <div class="mx-auto">
            <h1 class="text-uppercase">
              <strong>Administration- upload de scans</strong>
            </h1>
            <hr>
          </div>
        {% if user.is_staff %}
          <div class="row form-group">
            <form id="form1" action="" method="post" enctype="multipart/form-data">
              {% csrf_token %}
              {{ form.as_p }}
              {% if form %}
              <button type="submit">Upload du scan</button>
              {% endif %}
            </form>
          </div>
          {% if wordList %}
          <div class="row">
              <p>Le fichier a bien été chargé</p>
          </div>
          <div class="row form-group">
            {% if scan %}
            <div class="col-lg-6 ml-auto text-center">
              <img id="scan_img" src="{{ scan.image.url }}" alt="uploaded scan"/>
            </div>
            {% endif %}
            <div class="col-lg-6 ml-auto text-center">  
                <form id="formFromScan" action="" method="post">
                  {% csrf_token %}
                  {% for field in formToEdit %}
                    {% if field == formToEdit.Type %}
                      <h6>Type &emsp;
                      {% for choice in field %}
                        {{ choice.choice_label }} {{ choice.tag }}&emsp;
                      {% endfor %}
                      </h6>
                    {% else %}
                      <h6>{{ field.label_tag}} {{field}}</h6>
                    {% endif %}
                  {% endfor %}
                <button type="submit">Upload</button>
                </form>
            </div>
          </div>
          {% endif %}
          <p><a href="{% url 'nadeshiko:index' %}">Return to home</a></p>
        {% else %}
          <p>Sorry, this is a staff page only.</p>
          <p><a href="{% url 'nadeshiko:index' %}">Return to home</a></p>
        {% endif %}
      </div>
    </section>

{% endblock %}

{% block sidebar %}
    <script src="{% static 'nadeshiko/js/upload.js' %}"></script>
{% endblock %}
