#main {
  background-image: url("../img/evangelion.jpg");
  background-size: cover;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  margin: 0px 0px 0px 0px;
}

.jumbotron{
    height: 100vh;
    padding: 0px 0px 0px 0px;
    background-color: white;
}