<!DOCTYPE html>

{% load static %}

<html>

  <head>
    <meta charset="utf-8"> 
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sham No Robotto</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <meta name="description" content="Review your japanese vocabulary">
    <link href="{% static 'meseek/css/meseek.css' %}" rel="stylesheet">
  </head>
  
  <body id="global">
    <header class="jumbotron">
      <div class="container-fluid">
        <div class="row">
          <div class= "hidden-xs hidden-sm col-md-6">
            <div id="main"></div> 
          </div>
          <div id = "text" class="col-xs-12 col-md-6">
              <h1>Welcome to Sham No Robotto homepage</h1>
              {% if user.is_authenticated %}
              <p>You're logged in mate, and you are {{ user.username }} with id {{ user.id }}</p>
              <p>Now let's head to <a href="{% url 'nadeshiko:index' %}">Nadeshiko</a></p>
              {% else %}
              <p>Let's get you signed up <a href="{% url 'signup' %}">right here</a></p>
              {% endif %}
          </div>
        </div>
      </div>
    </header>
  </body>

</html>