<!DOCTYPE html>

<html>

  <head>
    <meta charset="utf-8"> 
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sham No Robotto</title>
    <meta name="description" content="Review your japanese vocabulary">
  </head>
  
  <body>
  <h1>Welcome to Sham No Robotto homepage</h1>
  <p>Let's get you signed up <a href="{% url 'signup' %}">right here</a></p>
  {% if user.is_authenticated %}
  <p>You're logged in mate, and you are {{ user.username }} with id {{ user.id }}</p>
  <p>Now let's head to <a href="{% url 'nadeshiko:index' %}">Nadeshiko</a></p>
  {% endif %}
  </body>

</html>